.DS_Store
.idea/
.vscode/
.python-version

.coverage
.coverage.*
.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/

.venv/
.tox/

build/
dist/
.eggs/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd

coverage.xml
pip-wheel-metadata/

*.log
